.header {
  height: 60px;
  background-color: cadetblue;
  color: #fff;
}

.headerNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}


.siteLogoLink {
  color: white;
  font-weight: bold;
  font-size: 22px;
  width: 60px;
}

.siteLogoLink img {
  width: 100%;
}

.siteMenuLink {
  color: white;
  margin-left: 30px;
  border-bottom: 2px solid transparent;
  transition: all .5s;

  &:global(.active) {
    border-bottom-color: white;
  }
}
