.pageWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.addForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 800px;
}

.formGroup {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 15px;

  label {
    font-weight: bold;
  }

  input,
  select {
    border: 1px solid #CED4DA;
    border-radius: 4px;
    padding: 6px 10px;

    &:focus-visible {
      outline-color: cornflowerblue;
    }
  }
}

.submitButton {
  font-size: 16px;
  color: #fff;
  background-color: #0d6efd;
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  margin-top: 15px;
  cursor: pointer;
}
