.loaderWrapper {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,.2);
}

.loader {
  position: absolute;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 26px;
  text-transform: uppercase;
  padding: 10px;
  box-shadow: 0 0 10px 2px rgb(0 0 0 / 15%);
}

.loader span {
  display: inline-block;
  margin: 0 5px;

  &:nth-child(1) {
    filter: blur(0px);
    animation: blurText 1.5s 0s infinite linear alternate;
  }

  &:nth-child(2) {
    filter: blur(0px);
    animation: blurText 1.5s .2s infinite linear alternate;
  }

  &:nth-child(3) {
    filter: blur(0px);
    animation: blurText 1.5s .4s infinite linear alternate;
  }

  &:nth-child(4) {
    filter: blur(0px);
    animation: blurText 1.5s .6s infinite linear alternate;
  }

  &:nth-child(5) {
    filter: blur(0px);
    animation: blurText 1.5s .8s infinite linear alternate;
  }

  &:nth-child(6) {
    filter: blur(0px);
    animation: blurText 1.5s 1s infinite linear alternate;
  }

  &:nth-child(7) {
    filter: blur(0px);
    animation: blurText 1.5s 1.2s infinite linear alternate;
  }
}

@keyframes blurText {
  0% {filter: blur(0px);}
  100% {filter: blur(4px);}
}